.app-header {
  height: 55px;

  background-color: #fff;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

.app-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.app-header-nav {
  display: flex;
  justify-content: space-between;

  width: 500px;
}

.app-header-nav .button-group {
  display: flex;

  padding: 0;
  margin: 0;
  
  list-style-type: none;
}

.app-header-nav .button-group button {
  margin: 0 20px;
}

.app-header-icon-group {
  display: flex;

  padding: 0;
  margin: 0;
  
  list-style-type: none;
}

.app-header-icon-group button {
  margin: 0 10px;
}
