.goals{
  justify-content: center;
  align-items: center;
}
.expansion-button-container{   
  display: flex;
  justify-content: center;
  align-items: center;
}

.expansion-button{
  display: table-row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
    
  font-size: large;
  font-weight: bolder;
  color: #fff;
  background-color: #3374e3;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}
