.follow-button-container {
  padding: 10px;
  border-radius: 5px;

  font-weight: bold;
  color: #fff;
  background-color: #3374e3;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

.follow-button-text {
  margin-left: 10px;
}

.goal-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 600px;
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
    
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

.goal-card-info {
  width: 400px;
}

.goal-card-button-group {
  display: flex;
  width: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
