.mgc{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 600px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
      
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 3px rgb(18 18 18 / 10%);
}

.goal-card-info {
    width: 400px;
  }

.option-button-container{
    padding: 10px;
    border-radius: 5px;
  
    font-weight: bold;
    color: #fff;
    background-color: #3374e3;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

.option-drop-down-box{
    display: flex;
    height: 25px;
    padding: 2px;
}

.change-input{
    display: flex;
}